- raise "Question #{question.inspect} is missing answer_choices" unless question["answer_choices"].present?

.field
  = form.hidden_field :question
  = form.hidden_field :question_key
  = form.hidden_field :kind
  = form.hidden_field :text unless form.object.other?
  = form.hidden_field :other
  = form.check_box :checked
  - if form.object.other?
    = form.label "Other:"
    = form.text_field :text
  - else
    = form.label :checked, form.object.text
